<div class="footer">
			<small>
				<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			
				by <%= link_to "Breno Baldrati", "http://www.twitter.com/brenobaldrati" %>
			
			</small>

</div>